<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ServerDatabase" value="192.168.0.188 "/>
    <add key="Database" value="RHINO_OIL"/>
    <add key="User" value="PruebaConsultas"/>
    <add key="Password" value="Pru384C0n5u1745Rh1n0"/>
    <add key="HourRateReminder" value="1"/>
    <add key="EmailSender" value="jesus.balambatun@gmail.com"/>
    <add key="PasswordEmail" value="hanqxiybjekmgafu"/>
    <add key="MaxRetries" value="2"/>
    <add key="PathFinalExcel" value="C:/Users/ControlGas/Desktop/FinalData.xlsx"/>
    <add key="PathReference" value="C:/Users/ControlGas/Desktop/Destinos.xlsx"/>
  </appSettings>
</configuration>